<html>
<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Development on Ko-fi', '#FFAF0C', 'S6S8EKDY5');kofiwidget2.draw();</script> 
  <p>
Is something missing Documentation? <a href="https://github.com/Kitbashery/kitbashery.github.io/issues">Report an issue</a>, <a href="https://github.com/Kitbashery/kitbashery.github.io/tree/main/docs">view the source</a>, or <a href="https://github.com/Kitbashery/kitbashery.github.io/discussions">start a discussion</a>.
  </p>
  <p>
  The name Kitbashery & all associated logos, images & icons are Copyright &copy; 2022 Kitbashery. All Rights Reserved. Code assets are licenced under the MIT license.
  </p>
</html>
