<html>
 <p>
Is something missing Documentation? <a href="https://github.com/Kitbashery/kitbashery.github.io/issues">Report an issue</a>, <a href="https://github.com/Kitbashery/kitbashery.github.io/tree/main/docs">view the source</a>, or <a href="https://github.com/Kitbashery/kitbashery.github.io/discussions">start a discussion</a>.
  </p>
  
  <br>
   <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('kitbashery', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#f45d22',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
  <p>
  Copyright &copy; 2022 Kitbashery.
  </p>
</html>
