<html>
 <p>
Is something missing Documentation? <a href="https://github.com/Kitbashery/kitbashery.github.io/issues">Report an issue</a>, <a href="https://github.com/Kitbashery/kitbashery.github.io/tree/main/docs">view the source</a>, or <a href="https://github.com/Kitbashery/kitbashery.github.io/discussions">start a discussion</a>.
  </p>
  
  <br>
<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#FFAF0C', 'S6S8EKDY5');kofiwidget2.draw();</script> 
  <p>
  Copyright &copy; 2022 Kitbashery.
  </p>
</html>
