<html>
  <!--
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('kitbashery', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support Me',
    'floating-chat.donateButton.background-color': '#FFAF0C',
    'floating-chat.donateButton.text-color': '#323842'
  });
</script>
-->
<!--<iframe src="https://github.com/sponsors/Kitbashery/button" title="Sponsor Kitbashery" height="35" width="116" style="border: 0;"></iframe>-->
  
<!--<iframe src="https://assetstore.unity.com/linkmaker/embed/package/248930/widget?aid=1100lvf66" style="width:202px; height:260px; border:0px;"></iframe>-->
  
<a href="https://assetstore.unity.com/packages/tools/visual-scripting/smart-gameobjects-248930?aid=1100lvf66"><img src="https://api.assetstore.unity3d.com/affiliate/embed/package/248930/icon" alt="Smart GameObjects" width="128" height="128" /></a>

</html>
